<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title> login-index </title>
</head>

<body>

<main class="form-signin w-100 m-auto">
    <form>
        <h1 class="h3 mb-3 fw-normal">로그인 창</h1>

        <div class="form-floating">
            <input type="text" class="form-control" id="username" placeholder="아이디">
            <label for="username"> Username </label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="비밀번호">
            <label for="floatingPassword">  </label>
        </div>

        <div class="checkbox mb-3">
            <!--<label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>-->
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    </form>
</main>

</body>
</html>